/* Styles for the form */
.user-data-view,
form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.user-data-view p,
label {
    margin-bottom: 10px;
}

.outter-div,
.user-data-view p,
input {
  padding: 8px;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box; /* Ensure padding and border don't add to the width */
}

button {
  padding: 8px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius: 5px;
}

button:hover {
  background-color: #45a049;
}

/* Styles for the profile details */
.profile-details {
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Styles for the profile details paragraph */
.profile-details p {
  margin-bottom: 10px;
}

/* Styles for the edit button */
.edit-button {
  padding: 8px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius: 5px;
}

.edit-button:hover {
  background-color: #45a049;
}
